<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353165476914-shmial1o5scqbt6o7i379gi43159fi16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353165476914-shmial1o5scqbt6o7i379gi43159fi16</string>
	<key>API_KEY</key>
	<string>AIzaSyAD1khNfIzWGc3rREAiyVkx43rNpLX5C8s</string>
	<key>GCM_SENDER_ID</key>
	<string>353165476914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.Ashleyrennee.Tranquilo</string>
	<key>PROJECT_ID</key>
	<string>tranquilo-b724f</string>
	<key>STORAGE_BUCKET</key>
	<string>tranquilo-b724f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353165476914:ios:8800314b79a1815704e82b</string>
</dict>
</plist>